.request {
	width: 100%;
	height: fit-content;
	box-sizing: border-box;
	padding: 10px;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
	border-radius: 10px;
	/* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
  	transition: 0.3s;
}

.headerWrapper {
	display: grid;
	grid-template-columns: auto 1fr auto;
}

.headerWrapper select {
	padding: 10px 15px;
	border: 1px solid black;
	border-radius: 10px 0 0 10px;
}

.headerWrapper input {
	padding: 10px 20px;
	border: 1px solid black;
	min-width: 50px;
}

.headerWrapper> button {
	padding: 10px 20px;
	outline: none;
	border-radius: 0 10px 10px 0;
	border: 1px solid black;
}

.headerWrapper> button:hover {
	cursor: pointer;
}

.payloadWrapper {
	display: grid;
	grid-template-columns: 1fr 6fr;
	margin-top: 10px;
}

.tabWrapper {
	border-radius: 10px;
}

.tabWrapper button {
	/* border: 1px solid black; */
	width: 100%;
	padding: 11px 20px;
	outline: none;
	border: 1px solid black;
}

.tabWrapper button:hover {
	cursor: pointer;
}

.tabWrapper .bottomBtn{
	border-radius: 0 0 10px 10px;
}

.tabWrapper .topBtn{
	border-radius: 10px 10px 0 0;
}


.paramsWrapper {
	margin-left: 10px;
	background-color: rgb(255, 255, 255);
	/* border: 1px solid black; */
	border-radius: 10px;
	position: relative;
	padding-bottom: 40px;
}

.paramsWrapper .newParaBtn{
	padding: 11px;
	width: 100%;
	outline: none;
	border-radius: 0 0 10px 10px;
	border: 1px solid black;
	position: absolute;
	bottom: 0;
}

.paramsWrapper .newParaBtn:hover{
	cursor: pointer;
}

.paramsWrapper> div{
	border-radius: 10px;
}

.paramsWrapper .rawData textarea{
	width: 100%;
	height: 150px;
	box-sizing: border-box;
}

.topLeftBtn{
	border-top-left-radius: 10px;
}

.topRightBtn{
	border-top-right-radius: 10px;
}

.paramRow {
	display: grid;
	grid-template-columns: 1fr 1fr 40px;
	outline: none;
	/* box-sizing: border-box; */
}

.paramRow input {
	padding: 10px;
	outline: none;
	border: 1px soid black;
	min-width: 50px;
}

.paramRow .removeRowB{
	background-color: rgb(255, 233, 233);
	/* width: 40px; */
	border: 1px solid black;
	outline: none;
}

.paramRow .removeRowB:hover{
	cursor: pointer;
}