.response {
	width: 100%;
	height: fit-content;
	box-sizing: border-box;
	/* padding: 10px; */
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	border-radius: 15px;
	margin-top: 10px;
}

.response .headerWrapper {
	display: grid;
	grid-template-columns: auto 1fr;
	background-color: white;
}

.response .headerWrapper .viewBtnWrapper {
	border-top-left-radius: 10px;
	min-width: 40px;
}

.response .headerWrapper .viewBtnWrapper button {
	padding: 10px 15px;
	border: 1px solid black;
	border-right: 1px solid white;
	background-color: #101820ff;
	color: white;
	outline: none;
}

.response .headerWrapper .viewBtnWrapper button:hover {
	cursor: pointer;
}

.response .headerWrapper .viewBtnWrapper button:first-child {
	border-top-left-radius: 10px;
}

.response .headerWrapper .statusWrapper {
	/* border: 1px solid black; */
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: right;
	border: none;
	border-bottom: 1px solid rgb(192, 192, 192);
	border-radius: 0 10px 0 0;
}

.response .headerWrapper .statusWrapper div {
	width: 100%;
	margin-right: 20px;
	text-align: right;
	border-radius: 0 10px 0 0;
}

.contentWrapper {
	background-color: rgb(255, 255, 255);
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	/* border: 1px solid black; */
	border-radius: 0 0 10px 10px;
	min-height: 200px;
	/* overflow: scroll; */
	/* white-space: pre-line; */
	word-wrap: break-word;
}
