.response {
	width: 100%;
	height: fit-content;
	box-sizing: border-box;
	padding: 10px;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
	border-radius: 15px;
	margin-top: 10px;
}

.response .headerWrapper {
	display: grid;
	grid-template-columns: auto 1fr;
}

.response .headerWrapper .viewBtnWrapper{
	border-top-left-radius: 10px;
}

.response .headerWrapper .viewBtnWrapper button{
	padding: 10px 15px;
	border: 1px solid black;
	outline: none;
}

.response .headerWrapper .viewBtnWrapper button:first-child{
	border-top-left-radius: 10px;
}

.response .headerWrapper .statusWrapper {
	/* border: 1px solid black; */
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: right;
	border: 1px solid black;
	border-top-right-radius: 10px;
}

.response .headerWrapper .statusWrapper div {
	width: 100%;
	margin-right: 20px;
	text-align: right;
}

.contentWrapper {
	background-color: rgb(255, 255, 255);
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 0 0 10px 10px;
	min-height: 200px;
	/* overflow: scroll; */
	/* white-space: pre-line; */
	word-wrap: break-word; 
}
